@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
#north{
	height:60px;
	background: #CCFFFF;
	line-height: 57px;
}
#out:hover{
	cursor: pointer;
}
#north h1{
	margin: 0px 40px; 
	font-family: '楷体'; 
	float: left;
	
	position: absolute;
		margin-left: -150px;
		background-image: -webkit-linear-gradient(left,blue,#66ffff 10%,#cc00ff 20%,#CC00CC 30%, #CCCCFF 40%, #00FFFF 50%,#CCCCFF 60%,#CC00CC 70%,#CC00FF 80%,#66FFFF 90%,blue 100%);
		-webkit-text-fill-color: transparent;/* 将字体设置成透明色 */
		-webkit-background-clip: text;/* 裁剪背景图，使文字作为裁剪区域向外裁剪 */ 
		-webkit-background-size: 200% 100%; 
		-webkit-animation: masked-animation 4s linear infinite; font-size: 35px;
		margin-left: 20px;
		line-height: 48px;
	}
	@keyframes masked-animation {
    0% {
        background-position: 0  0;
    }
    100% {
        background-position: -100%  0;
    }
}
#navigation{
	width: 200px;
}
#navigation p{
	margin: 0px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 20px;
	font-family: '楷体';
	border-bottom: 1px dashed #000;
}
#navigation p:hover {
	cursor: pointer;
	background: #CCFFFF;
	border-left: 5px solid #00CCCC;
}
.custom-form p{
	margin-left: 40px;
	margin-top: 23px;
}
.custom-form p input{
	width:300px; 
	height:26px;
}
.custom-form input{
	width:200px; 
	height:26px;
}
.layui-form{
	line-height: 60px;
	margin-left: 30px;
}
.resser{
	color: red;
	margin-left: 120px;
	font-size: 14px;
}

#user_update{
	width: 500px;
	margin: 80px auto;
}
 
#user_update label{
	width: 100px;
}

#user_update .layui-form-item{
	margin-top: 30px;
}

#user_update .layui-input-inline{
	width: 300px;
}

#user_update button{
	width: 230px;
}

.records_home{
	width: 80%;
	margin: 30px auto;
}

.records_home .records_book{
	width: 40%;
	margin-right: 10%;
	height: 150px;
	float: left;
	padding-bottom: 20px;
}

.records_right{
	padding-top: 20px;
	width: 74%;
	height: 100%;
	float: right;
}

.records_book:hover {
	background: white;
	box-shadow: 0 18px 36px #c8ecf8;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.returnBook{
	font-size: 25px; 
	font-family: '楷体';  
	position:flex; 
	margin-top: 28px; 
	margin-right: 20%; 
	text-align:center; 
	color: white; 
	background: blue;
}

.returnBook{
	cursor: pointer;
}

#tt p{
	font-size: 20px;
	font-family: '楷体'
}
