<title>Insert title here</title>

<script type="text/javascript">
	$(function(){
		$("#kind_user").datagrid({
			idField: 'id',
			title: '图书种类列表',
			fitColumns: true,
			width: '100%',
			fit: true,
			striped: true,
			loadMsg: '数据正在加载中...',
			rownumbers: true,
			url: 'kind/list',
			singleSelect: true,
			sortName: 'id',
			sortOrder: 'asc',
			pagination: true,
			pageSize: 10,
			pageList: [5, 10, 15, 20, 25, 50],
			columns: [
				[
					{
						field: 'id',
						title: 'id',
						width: 100,
						align: 'center',
						sortable:true
					},{
						field: 'type',
						title: '类型',
						width: 150,
						align: 'center'
					},{
						field: 'number',
						title: '图书数量',
						width: 150,
						align: 'center'
					}
				]
			],
			dialog:{
				create:{
					title: '图书种类添加',
					width: 430,
					height: 180,
					action: 'kind/save',
					href : 'kind/edit'
				},
				update:{
					title: '图书种类修改',
					width: 430,
					height: 180,
					action: 'kind/save',
					href : 'kind/edit'
				},
				delete:{
					url: 'kind/delete'
				}
			},
			toolbar: [$.crudgrid.buttons.create,'-',$.crudgrid.buttons.update,'-',$.crudgrid.buttons.delete,'-',$.crudgrid.buttons.reload,'-']
		});
		//查询
		$('#kind_searchbtn').click(function(){
			$('#kind_user').datagrid('load', serializeForm($('#kind_form').form()));
		});
		//清除查询
		$('#kind_clearbtn').click(function(){
			$('#kind_form').form('clear');
			$("#kind_user").datagrid('load', {});
		});
	});
</script>
<div fit=true class="easyui-layout">
	<div data-options="region:'north',split:false" style="height: 65px;">
		<form class="layui-form" id="kind_form" action="" method="post">
			<div class="layui-input-inline">
				<input type="text" name="type" placeholder="类型" class="layui-input">
			</div>
		 	<div class="layui-btn-group">
			  	<button type="button" id = "kind_searchbtn" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button>
			  	<button type="button" id = "kind_clearbtn" class="layui-btn layui-btn-warm"><i class="layui-icon">&#xe640;</i>清空</button>
			</div>
		</form>
	</div>
	<div data-options="region:'center',split:false">
		<table id = "kind_user"></table>
	</div>
</div>

